@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "overpass", sans-serif;
}
:root {
  /*! PRİMARY COLORS */
  --light-red: hsl(356, 100%, 66%);
  --vlight-red: hsl(355, 100%, 74%);
  --vdark-blue: hsl(208, 49%, 24%);
  /*! NEUTRAL COLORS */
  --text-white: hsl(0, 0%, 100%);
  --grayish-blue: hsl(240, 2%, 79%);
  --vdark-grblue: hsl(207, 13%, 34%);
  --vdark-blackblue: hsl(240, 10%, 16%);
  /*! GRADİENTS */
  --verylight-red: hsl(13, 100%, 72%);
  --light-red: hsl(353, 100%, 62%);
  --vdark-grbluegra: hsl(237, 17%, 21%);
  --vdark-deseratedblue: hsl(237, 23%, 32%);
}

.top {
  padding: 1px;
  height: 70vh;
  background: url(./images/bg-pattern-intro-desktop.svg);
  color: white;
  font-family: "ubuntu", sans-serif;
  background-repeat: no-repeat;
  background-color: hsl(353, 100%, 62%);
  background-position: center;
  background-size: 150%;
  border-radius: 0 0 0 100px;
}

nav {
  display: flex;
  margin-top: 1rem;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}
nav ul {
  width: 50vw;
}

nav ul li a {
  text-decoration: none;
  color: var(--text-white);
  padding: 1rem;
  font-family: "overpass", sans-serif;
}

nav ul h2 {
  display: inline;
  margin-right: 2rem;
  font-size: 32px;
}

nav ul ul {
  display: none;
  text-decoration: none;
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  background-color: var(--text-white);
  z-index: 10;
  overflow: hidden;
}
nav ul li {
  display: inline;
}

.mobilenav{
  display: none;
}
#mobilemenu{
  display: none;
}
.textclass {
  height: 10vh;
  background-color: var(--text-white);
  display: flex;
  width: 5vw;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-top: 10px;
}

.textclass li a {
  color: black;
}

#login {
  background-color: rgba(255, 255, 255, 0);
  color: var(--text-white);
  border: none;
  margin-right: 10px;
}
#signup {
  background-color: white;
  color: var(--light-red);
  height: 3rem;
  width: 8rem;
  font-family: "ubuntu", sans-serif;
  font-weight: 600;
  border-radius: 35px;
  border: none;
}
#signup:hover {
  background-color: var(--vlight-red);
  color: var(--text-white);
  cursor: pointer;
}

#login:hover {
  cursor: pointer;
}
.top .container {
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.top .container h1 {
  font-size: 64px;
  font-family: "overpass", sans-serif;
}

.top .container p {
  color: #ffffffab;
}

.top .container button {
  margin-top: 10px;
  margin-right: 10px;
}

.top .container #startBtn {
  background-color: white;
  color: var(--light-red);
  height: 3rem;
  width: 8rem;
  font-family: "ubuntu", sans-serif;
  font-weight: 600;
  border-radius: 35px;
  border: none;
}

.top .container #startBtn:hover {
  background-color: var(--vlight-red);
  color: var(--text-white);
  cursor: pointer;
}

.top .container #learnBtn {
  background-color: rgba(255, 255, 255, 0);
  color: var(--text-white);
  height: 3rem;
  width: 8rem;
  font-family: "ubuntu", sans-serif;
  font-weight: 600;
  border-radius: 35px;
  border: 1px solid var(--text-white);
}
.top .container #learnBtn:hover {
  background-color: white;
  color: var(--light-red);
  height: 3rem;
  width: 8rem;
  font-family: "ubuntu", sans-serif;
  font-weight: 600;
  border-radius: 35px;
  border: none;
  cursor: pointer;
}

section h2 {
  text-align: center;
  margin-top: 10vh;
  color: var(--vdark-blue);
  font-size: 36px;
}

.mainSide {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mainSide .leftSide h3 {
  font-size: 28px;
  line-height: 5rem;
  color: var(--vdark-blue);
}

.mainSide .leftSide p:nth-child(2) {
  margin-bottom: 3rem;
}
.mainSide .leftSide p {
  font-size: 18px;
  line-height: 24px;
  color: var(--vdark-blue);
}

.info {
  background-image: url(./images/bg-pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 60%;
  background-color: var(--vdark-deseratedblue);
  width: 100%;
  height: 47vh;
  border-radius: 0 100px 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.info .infoRight {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  margin: 0 12vw 12vh 0;
}
.info .infoRight h2 {
  font-size: 46px;
  color: var(--text-white);
  margin-bottom: 20px;
}

.info .infoRight p {
  font-size: 20px;
  line-height: 1.7rem;
  color: rgba(255, 255, 255, 0.685);
}

.info1 {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 10vh 0 0 0;
}

.info1Right {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.info1Right h2 {
  font-size: 36px;
  color: var(--vdark-deseratedblue);
  margin-bottom: 20px;
}

.info1Right p {
  font-size: 18px;
  line-height: 1.7rem;
  color: var(--vdark-deseratedblue);
}

.footerInfo {
  background-color: var(--vdark-blackblue);
  height: 32vh;
}

.footerInfo .footerLinks {
  display: flex;
  justify-content: space-evenly;
  padding: 7vh 0 0 0;
}
.footerInfo h2 {
  color: var(--text-white);
  font-size: 32px;
}

.footerInfo p {
  color: var(--text-white);
  font-size: 18px;
  font-family: "ubuntu", sans-serif;
}

.footerInfo .footerLinks .links {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
}

.footerInfo .footerLinks .links .link1 {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.footerInfo .footerLinks .links .link2 {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.footerInfo .footerLinks .links .link3 {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.footerInfo .footerLinks .links .link1 a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.712);
}
.footerInfo .footerLinks .links .link1 a:hover {
  text-decoration: underline;
}
.footerInfo .footerLinks .links .link2 a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.712);
}
.footerInfo .footerLinks .links .link2 a:hover {
  text-decoration: underline;
}
.footerInfo .footerLinks .links .link3 a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.712);
}

.footerInfo .footerLinks .links .link3 a:hover {
  text-decoration: underline;
}

@media all and (max-width: 1023px) {
  nav ul{
    display: none;
  }
  nav li{
    display: none;
  }
  nav button{
    display: none;
  }

  .container{
    text-align: center;
  }
  .logo{
    margin: 0 0 0 15px;
  }

  .mainSide {
    flex-direction: column-reverse;
    text-align: center;
  }
  section h2{
    font-size: 28px;
    margin: 10vh 0 3vh 0;
  }
  .mainSide .leftSide h3 {
    font-size: 24px;
  }
  .mainSide .leftSide p {
    font-size: 16px;
  }
  .mainSide .rightSide  img{
    width: 100vw;
  }
  .info{
    flex-direction: column;
    height: 100%;
    margin: 20vh 0 0 0;
    background-image: url(./images/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    background-color: var(--vdark-deseratedblue);
    text-align: center;
  }
  .info .infoLeft img{
    width: 100vw;
    margin: -10vh 0 0 0;
  }
  .info1 {
    flex-direction: column;
    text-align: center;
  }
  .info1 .info1Right   {
    display: flex;
    align-items: center;
  }

  .info1 .info1Right  h2 {
    font-size: 28px;
  }
  .info1 .info1Right  p {
    font-size: 16px;
  }
  .info1 .info1Left  img{
    width: 100vw;
  }
  .footerInfo{
    height: 100%;
    border-radius: 0 100px 0 0;
  }
  .footerInfo .footerLinks h2{
    margin: 0 0 8vh 0;
  }
  .footerInfo .footerLinks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footerInfo .footerLinks .links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }
  #mobilenav{
    display: block;
    position: absolute;
    top: 8.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    padding: 2rem 1.5rem;
    background: hsl(0, 0%, 100%);
    box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.3);
    text-align: center;
    border: none;
    border-radius: .5rem;
    z-index: 10;
    transition: .5s;
}

.mobilenav ul li{
    list-style: none;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobilenav ul li a{
    text-decoration: none;
    color: hsl(240, 10%, 16%);
    font-size: 1.2rem;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.mobilenav ul li img{
    margin-left: .5rem;
    transition: .5s;
}

.mobilenav ul li:nth-child(3){
    position: relative;
}

.mobilenav ul li:hover img{
    transform: rotate(-180deg);
}

.mobilenav ul .connect{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobilenav ul .connect .connect-text{
    display: flex;
    align-items: center;
}

.mobilenav ul .connect .dropdown-menu-mobile{
    background: hsl(0, 10%, 92%);
    padding: 1.5rem 0;
    width: 100%;
    border-radius: .5rem;
    display: none;
    transition: 2s;
}

.mobilenav ul .connect:hover .dropdown-menu-mobile{
    display: block;
}

.mobilenav ul .connect .dropdown-menu-mobile li:last-child{
    margin-bottom: 0;
}

.mobilenav ul hr{
    display: block;
    border: none;
    border-top: 1px solid hsl(0, 4%, 85%);
    margin: 2rem auto 2rem;
    width: 100%;
}

.mobilenav ul .signup{
    margin-bottom: 0;
}

.mobilenav ul .signup a{
    padding: .8rem 2.5rem;
    background: linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    color: hsl(0, 0%, 100%);
    border-radius: 2rem;
    transition: .5s;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.mobilenav ul .signup a:hover{
    background: linear-gradient(90deg, hsl(353, 100%, 62%), hsl(13, 100%, 72%));
}
#mobilemenu{
 padding-left: 70vw;
}
#mobilemenu{
  display: inline;
  margin: 0 22vw 0 0;
}
.logo{
  margin-left: 22vw;
  margin-right: 0;
}
}


